.hero {
    width: 100%;
    max-width: 1280px;
    height: 600px;
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url(../../public/hero.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .left {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 600px !important;
}

.hero .left h1 {
    color: #fff;
    width: 450px;
    font-size: 100px;
    text-align: center;
    line-height: 108px;
}

.subheading {
    width: 100%;
    max-width: 1280px;
    height: 100px;
    padding: 10px;
    background-color: #fff;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.subheading h5 {
    color: #000;
    font-size: 18px;
}

.imageGrid {
    width: 100%;
    max-width: 1280px;
    padding: 20px;
}

.imageGrid img {
    width: 100% !important;
    height: 250px !important;
    object-fit: cover !important;
    margin: 0 auto 15px auto !important;
    border-radius: 10px;
}
